<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="not-found content">
       <h1>Page not found</h1>
       <p>The page you are searching for does not exist. Try again with the correct url.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>