<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
       <h1>About us</h1>
       <p>This is an about page.</p>
       <p>This is a company located somewhere in Africa...</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>